.text-box .text-title {
  font-family: var(--font-en);
  font-size: 4rem;
  font-weight: 500;
  border-bottom: 2px solid #f2aa4c;
  margin: 2% 0;
}

.text-box .text-date {
  font-size: 2rem;
  text-align: end;
}

.text-box .text-date span {
  font-family: var(--font-en);
  font-size: 1rem;
  font-weight: 400;
}

.text-box .text-keywords {
  display: flex;
  justify-content: end;
  gap: 1.5%;
  margin: 1% 0;
}

.text-box .text-keywords span {
  width: fit-content;
  background-color: #101820;
  opacity: 0.3;
  border-radius: 0.8rem;
  font-family: var(--font-en);
  font-size: 0.7rem;
  padding: 0.6%;
  color: #fff;
  font-weight: 400;
}

.text-box .text-markdown-box {
  font-family: var(--font-en);
  border-top: 1px solid #eadfdf;
  border-bottom: 1px solid #eadfdf;
  padding: 2% 0;
  margin-bottom: 5%;
  box-sizing: border-box;
}

.text-box .text-markdown-box h1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 3% 0;
}
.text-box .text-markdown-box h2 {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 2.5% 0;
}
.text-box .text-markdown-box h3 {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 2% 0;
}
.text-box .text-markdown-box h4 {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 1.5% 0;
}
.text-box .text-markdown-box h5 {
  font-size: 1.2rem;
  font-weight: 200;
  margin: 1.5% 0;
}
.text-box .text-markdown-box h6 {
  font-weight: 200;
  margin: 1.5% 0;
}

.text-box .text-markdown-box blockquote {
  background-color: #eadfdf;
  color: #101820;
  border-left: 0.8rem solid #f2aa4c;
  padding: 1.5%;
  margin: 2% 0;
}

.text-box .text-markdown-box pre {
  margin: 2.5% 0;
}

.text-box .text-markdown-box pre div {
  border-radius: 10px;
}

.text-box .text-markdown-box p {
  margin: 1% 0;
  line-height: 1.2rem;
}

.text-box .text-markdown-box strong {
  font-weight: bold;
}

.text-box .text-markdown-box ul {
  list-style: "-  ";
  margin: 2% 0 2% 3%;
}

.text-box .text-markdown-box ul li {
  margin: 1% 0;
}

.text-box .text-markdown-box ol {
  list-style: decimal;
  margin: 2% 0 2% 3%;
}

.text-box .text-markdown-box ol li {
  margin: 1% 0;
}

.text-box .text-markdown-box span code span {
  font-weight: bold;
  font-size: 0.8rem;
  background-color: #eadfdf;
  color: #101820;
  padding: 0.4%;
}

.text-box .text-markdown-box table {
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  margin: 2% 0;
}
.text-box .text-markdown-box table th {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px;
  line-height: 1.1rem;
}

.text-box .text-markdown-box table td {
  padding: 10px;
  font-weight: 300;
  line-height: 1.1rem;
}

.text-box .text-markdown-box table thead {
  background-color: #f2aa4c;
}

.text-box .text-markdown-box .text-img {
  display: flex;
  justify-content: center;
}

.text-box .text-markdown-box .text-img img {
  width: 80vh;
  margin: 2.5% 0;
}
